#widget-indicadores-economicos-chile.default-style {
font-family: 'Roboto', sans-serif;
	font-size: 13px;
}

#widget-indicadores-economicos-chile.default-style > h3 {
	background: transparent;
	color: #00105f;
	margin: 0;
	padding: 5px 10px 0 10px;
}

#widget-indicadores-economicos-chile.default-style > span.fecha-hoy {
	display: block;
	background: transparent;
	color: #00105f;
	font-size: 10px;
	font-weight: normal;
	margin: 0 0 2px 0;
	padding: 0 10px 5px 10px;
}

#widget-indicadores-economicos-chile.default-style > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#widget-indicadores-economicos-chile.default-style > ul > li {
	background: transparent;
	font-style: normal;
	margin-bottom: 2px;
	padding: 4px 5px;
}
#widget-indicadores-economicos-chile.default-style > ul > li > span.indicador {
	font-style: normal;
	font-weight: bold;
}